@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Tmoney+RoundWind&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.content-area {
  grid-column: 3 / span 8;
}

.client-component-container {
  position: relative;
  width: 100%;
}
